<header>
  <img *ngIf="background" src="assets/images/png/Light-mode.png" alt="Background image light">
  <img *ngIf="!background" src="assets/images/png/Dark-mode.png" alt="Background image dark">
  <div class="header" [ngClass]="{'dark': !background}">
    <div class="header__nav">
      <h1>T O D O</h1>
      <div class="header__moon_sun">
        <a (click)="toggle()" *ngIf="background" class="header__moon_sun__moon">
          <img src="assets/images/svg/moon.svg" alt="Icon de lua">
        </a>
        <a (click)="toggle()" *ngIf="!background" class="header__moon_sun__sun">
          <img src="assets/images/svg/sun.svg" alt="Icon de sol">
        </a>
      </div>
    </div>
    <input type="text" placeholder="Create a new todo..." class="header__input" [(ngModel)]="content" name="content">
    <button (click)="postTodo()" type="button" class="button">Register</button>
  </div>
</header>
<main>
  <div [ngClass]="{'dark': !background}" class="list">
    <div>
      <ul *ngFor="let todo of allTodos">
        <li>
          <div (click)="updateTodo(todo)" class="circle">
            <div *ngIf="!todo.disable" class="circle__no_check"></div>
            <img *ngIf="todo.disable" src="assets/images/svg/check.svg" alt="Icon de check">
          </div>
          <p [ngClass]="{'check': todo.disable}" class="content">{{ captalize(todo.content!) }}</p>
        </li>
      </ul>
    </div>
    <div class="spans">
      <span>{{ allTodos.length }} itens left</span>
      <div class="spans__mid">
        <span class="btn select">All</span>
        <span class="btn">Active</span>
        <span class="btn">Completed</span>
      </div>
      <span class="clear">Clear Completed</span>
    </div>
  </div>
</main>
<footer>

</footer>