// Styles do header
header {
  height: 300px;

  img {
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: -10000;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    width: 35%;
    margin: auto;
    padding-top: 3rem;

    h1 {
      font-size: 38px;
      color: white;
    }

    &__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      width: 100%;
      padding: 1rem;
      border-radius: 6px;
      border: none;
    }

    // Styles dos icons
    &__moon_sun {
      margin-right: 40px;
      margin-bottom: 20px;
      z-index: 100000;
      cursor: pointer;

      &__moon {
        img {
          height: 26px;
          width: 26px;
        }
      }
      &__sun {
        img {
          height: 26px;
          width: 26px;
        }
      }
    }
  }
}

main {
  width: 35%;
  height: auto;
  margin: auto;

  .list {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #f2f2f2;

    position: absolute;
    width: 35%;
    top: 240px;

    ul {
      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        height: 2rem;
        padding: 2rem;
        border-bottom: 1px solid gray;

        .content {
          font-size: 18px;
        }
        .content.check {
          color: gray;
          text-decoration: line-through;
        }

        .circle {
          cursor: pointer;

          img {
            display: none;
          }

          &__no_check {
            display: block;
            border: 1px solid gray;
            border-radius: 50%;
            width: 24px;
            height: 24px;
          }
        }
        .circle.image {
          img {
            display: block;
          }
          .circle__no_check {
            display: none;
          }
        }
      }
    }
    .spans {
      font-style: italic;
      display: flex;
      justify-content: space-around;

      padding: 1.6rem;
      color: #9495a5;

      &__mid {
        font-weight: bold;

        display: flex;
        gap: 0.6rem;
        cursor: pointer;

        .select {
          color: #3a7cfd;
        }
      }
    }
  }
}
