// Styles do header
header {
  height: 300px;

  img {
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: -10000;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    width: 35%;
    margin: auto;
    padding-top: 3rem;

    h1 {
      font-size: 38px;
      color: white;
    }

    .button {
      position: absolute;
      right: 33%;
      top: 172px;
      z-index: 1000;

      font-style: italic;

      background-color: transparent;
      padding: 0.4rem 1rem;

      border-radius: 6px;
      border: 1px solid rgb(188, 185, 185);
      cursor: pointer;
    }
    .button:hover {
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    }

    &__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      width: 100%;
      padding: 1rem;
      border-radius: 6px;
      border: none;
      background-color: #f2f2f2;

      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    }

    // Styles dos icons
    &__moon_sun {
      margin-right: 40px;
      margin-bottom: 20px;
      z-index: 100000;
      cursor: pointer;

      &__moon {
        img {
          height: 26px;
          width: 26px;
        }
      }
      &__sun {
        img {
          height: 26px;
          width: 26px;
        }
      }
    }
  }
}

// Styles do conteudo principal
main {
  width: 35%;
  height: auto;
  margin: auto;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #f2f2f2;

    position: absolute;
    min-height: 500px;
    width: 35%;
    top: 240px;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

    ul {
      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        height: 2rem;
        padding: 2rem;
        border-bottom: 1px solid rgb(188, 185, 185);

        .content {
          font-size: 18px;
        }
        .content.check {
          color: gray;
          text-decoration: line-through;
        }

        .circle {
          cursor: pointer;

          &__no_check {
            display: block;
            border: 1px solid #393a4b;
            border-radius: 50%;
            width: 24px;
            height: 24px;
          }
          &__no_check:hover {
            border: 1px solid #55ddff;
          }
          &__no_check.select {
            img {
              display: none;
            }
          }
        }
      }
    }
    .spans {
      font-style: italic;
      display: flex;
      justify-content: space-around;

      padding: 1.6rem;
      color: #9495a5;
      border-top: 1px solid rgb(188, 185, 185);

      .clear {
        cursor: pointer;
      }

      span:hover {
        color: #494c6b;
      }

      &__mid {
        font-weight: bold;

        display: flex;
        gap: 0.6rem;
        cursor: pointer;

        .select {
          color: #3a7cfd;
        }
      }
    }
  }

  // Styles do modo DARK
  .list.dark {
    background-color: #25273d;
    ul {
      li {
        border-bottom: 1px solid #393a4b;

        .content {
          color: #c8cbe7;
        }
        .content.check {
          color: #4d5067;
        }
      }
    }
    .spans {
      border-top: 1px solid #393a4b;
    }
    .spans {
      span:hover {
        color: #e3e4f1;
      }
    }
  }
}
header {
  .header.dark {
    .header__input {
      background-color: #25273d;
    }
    .button {
      color: #c8cbe7;
    }
  }
}
