// Styles do header
header {
  height: 30%;

  img {
    width: 100vw;
    height: 30%;
    position: absolute;
    z-index: -2;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    width: 35%;
    margin: auto;
    padding-top: 3rem;

    h1 {
      font-size: 38px;
      color: white;
    }

    &__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__input {
      width: 100%;
      padding: 1rem;
      border-radius: 4px;
      border: none;
    }

    // Styles dos icons
    &__moon_sun {
      margin-right: 40px;
      margin-bottom: 20px;
      cursor: pointer;

      &__moon {
        visibility: visible;
        img {
          height: 26px;
          width: 26px;
        }
      }
      &__sun {
        visibility: hidden;
        img {
          height: 26px;
          width: 26px;
        }
      }
    }
  }
}
