<header>
  <img src="assets/images/png/Light-mode.png" alt="Background image">
  <div class="header">
    <div class="header__nav">
      <h1>T O D O</h1>
      <div class="header__moon_sun">
        <a class="header__moon_sun__moon"><img src="assets/images/svg/moon.svg" alt="Icon de lua"></a>
        <a class="header__moon_sun__sun"><img src="assets/images/svg/sun.svg" alt="Icon de sol"></a>
      </div>
    </div>
    <input type="text" placeholder="Create a new todo..." class="header__input">
  </div>
</header>
<main>

</main>
<footer>

</footer>